button.no10.chat {
  margin-right: 5px;

  font-size: 13px;
}

button.no10.chat {
  margin-right: 5px;

  font-size: 13px;
}

img.no10.chat {
  width: 40px;
  height: 40px;

  margin-top: 0;
  margin-left: 0;
}
