div.no5__news {
  width: 30px;
  height: 20px;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10px;
  margin-left: 40px;
  transform: translate(0, -50%);

  border-radius: 50%;

  color: white;
}

p.no5__news {
  width: 200px;

  position: absolute;
  top: 35px;
  left: 60px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: gray;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

p.no5__news.no5__active {
  color: silver;
  font-style: normal;
  font-weight: normal;
}
