div.no6__me {
  width: 100%;
  height: auto;
  min-height: 35px;

  position: relative;
  margin-top: 2px;

  overflow: auto;
}

img.no6__me {
  width: 20px;

  margin-top: 5px;
  margin-right: 5px;

  border-radius: 50%;

  float: right;
}

p.no6__me {
  max-width: 50%;
  background-color: gray;

  float: right;
  margin-right: 5px;
  margin-top: 0px;

  display: flex;
  align-items: center;

  border-radius: 10px;

  overflow: auto;
}

b.no6__me {
  width: 100%;

  padding: 3px 10px;
  text-align: right;
  color: white;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;

  overflow: hidden;
}
